/* Styles for EventsAndWorkshops component */
.adminDashboard{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d4');
}


.events-container {
    margin: 1.5rem 1rem;
}

.events-container h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.events-list {
    display: grid;
    gap:10px;
    grid-template-columns: repeat(4,1fr);
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    list-style-type: none;
    padding: 0;
}

.event-item {
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.event-title {
    font-weight: bold;
    padding: 10px 0px;
}

.event-date {
    margin-top: 5px;
    font-size: 0.9rem;
}

.event-location {
    font-style: italic;
    margin-top: 5px;
}

.register-button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #0056b3;
}

/* Styles for InterviewPreparation component */
.interview-container {
    width: 95vw;
    display: flex;
    flex-direction: column;
    margin:0px auto;
    box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.interview-container h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.interview-questions {
    list-style-type: decimal;
    padding:0px 20px;
}
.interview-questions>li{
    padding-top: 10px ;
}

.interview-tips {
    margin-top: 30px;
    padding-bottom: 7px;
}

.interview-tips >a{
    color:#007bff;
    padding: 7px;
}
.interview-tips h3 {
    font-size: 1.2rem;
    margin-bottom: 7px;
}

.interview-tips p {
    margin-bottom: 10px;
}

.mock-interviews {
    margin-top: 20px;
}

.mock-interviews h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}